html, body, ul, li {margin: 0; padding: 0}
ul, li {list-style: none}
ul {
  padding: 10px;
  display: flex;
  flex-flow: column;
  align-items: center;
}
body, input, select, button {font: normal 16pt Arial}
input:-moz-ui-invalid {box-shadow: none}
li {
  display: flex;
  flex-flow: row;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
  background: #f4f4f4;
}
li > div {
  flex: 1;
  margin-right: 3px;
}
li > div > input {
  margin-bottom: 3px;
  width: 12em;
}
input::placeholder {
  opacity: 0.5;
}
li > button {
  border: 0;
  background: #ddd;
  border-radius: 10px;
  margin-left: 10px;
}
button:active {
  background: #aaa;
}
button:disabled {
  visibility: hidden;
}
